<a href="https://colab.research.google.com/github/miguelpsmedeiros/lab-list-comprehensions/blob/master/Labs_1%C2%AA_Semana_MM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# LAB comprehension list

# 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

list_1 = [num for num in range(51) if num > 0]

list_1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [ ]:
# LAB comprehension list

# 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200

list_2 = [num for num in range (201) if num > 1 if num % 2 == 0]

list_2

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200]

In [ ]:
# LAB comprehension list 

# 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below

import numpy as np

a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

list_3 = [element for group in a for element in group]

list_3

[0.84062117,
 0.48006452,
 0.7876326,
 0.77109654,
 0.44409793,
 0.09014516,
 0.81835917,
 0.87645456,
 0.7066597,
 0.09610873,
 0.41247947,
 0.57433389,
 0.29960807,
 0.42315023,
 0.34452557,
 0.4751035,
 0.17003563,
 0.46843998,
 0.92796258,
 0.69814654,
 0.41290051,
 0.19561071,
 0.16284783,
 0.97016248,
 0.71725408,
 0.87702738,
 0.31244595,
 0.76615487,
 0.20754036,
 0.57871812,
 0.07214068,
 0.40356048,
 0.12149553,
 0.53222417,
 0.9976855,
 0.12536346,
 0.80930099,
 0.50962849,
 0.94555126,
 0.33364763]

In [ ]:
# LAB comprehension list 

# 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed

list_4 = [element for group in a for element in group if element >= 0.5]

list_4

[0.84062117,
 0.7876326,
 0.77109654,
 0.81835917,
 0.87645456,
 0.7066597,
 0.57433389,
 0.92796258,
 0.69814654,
 0.97016248,
 0.71725408,
 0.87702738,
 0.76615487,
 0.57871812,
 0.53222417,
 0.9976855,
 0.80930099,
 0.50962849,
 0.94555126]

In [ ]:
# LAB comprehension list 

# 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below.

b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])


list_5 = [element for group in b for sub_group in group for element in sub_group]

list_5

[0.55867166,
 0.06210792,
 0.08147297,
 0.82579068,
 0.91512478,
 0.06833034,
 0.05440634,
 0.65857693,
 0.30296619,
 0.06769833,
 0.96031863,
 0.51293743,
 0.09143215,
 0.71893382,
 0.45850679,
 0.58256464,
 0.59005654,
 0.56266457,
 0.71600294,
 0.87392666,
 0.11434044,
 0.8694668,
 0.65669313,
 0.10708681,
 0.07529684,
 0.46470767,
 0.47984544,
 0.65368638,
 0.14901286,
 0.23760688]

In [ ]:
# LAB comprehension list 

# 6. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5

list_6 = [sub_group[-1] for group in b for sub_group in group if sub_group[-1] <= 0.5]

list_6

[0.08147297,
 0.06833034,
 0.30296619,
 0.45850679,
 0.11434044,
 0.10708681,
 0.47984544,
 0.23760688]

In [ ]:
# LAB dictionaries

# challenge 1

#1 and #2

tup = ("I",)

print(type(tup))

<class 'tuple'>

In [ ]:
# LAB dictionaries

# challenge 1

#3 and #4

tup.append("r")

#tupples are immutable once they are defined, the method append does not work

In [ ]:
# LAB dictionaries

# challenge 1

#5

tup = ("I", "r", "o", "n", "h", "a", "c", "k")
tup1 = ("I", "r", "o", "n")
tup2 = ("h", "a", "c", "k")

print(tup1)
print(tup2)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

In [ ]:
# LAB dictionaries

# challenge 1

#6

tup3 = tup1 + tup2

print(tup3)
print(tup3==tup)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
True

In [ ]:
# LAB dictionaries

# challenge 1

#7

a = len(tup)
b = len(tup1)
c = len(tup2)
d = len(tup3)

print(b)
print(c)
print(d)
print(b+c==d)

4
4
8
True

In [ ]:
# LAB dictionaries

# challenge 1

#8

tup3.index("h")

4

In [ ]:
# LAB dictionaries

# challenge 1

#9

letters = ["a", "b", "c", "d", "e"]

for chara in letters:
  if chara in tup3:
    print("True")
  else:
    print("False")

True
False
True
False
False

In [ ]:
# LAB dictionaries

# challenge 1

#10

new_list = []

for chara in letters:
  new_list.append(tup3.count(chara))

print(new_list)

[1, 0, 1, 0, 0]

In [ ]:
# LAB dictionaries

# challenge 2

#1

import random

list_1 = [i for i in random.sample(range(101),80)]

print(list_1)

[45, 0, 70, 84, 47, 98, 99, 61, 36, 4, 68, 9, 21, 56, 7, 62, 80, 93, 91, 51, 17, 94, 53, 55, 83, 1, 97, 96, 10, 48, 11, 82, 32, 24, 18, 43, 49, 46, 76, 88, 69, 100, 40, 23, 25, 90, 50, 57, 35, 6, 52, 29, 33, 15, 63, 2, 72, 12, 20, 3, 89, 37, 59, 54, 8, 64, 14, 19, 65, 95, 58, 67, 16, 27, 26, 30, 22, 73, 85, 87]

In [ ]:
# LAB dictionaries

# challenge 2

#2

set_1 = set(list_1)

print(set_1)
print(len(list_1))

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 32, 33, 35, 36, 37, 40, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 67, 68, 69, 70, 72, 73, 76, 80, 82, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
80

In [ ]:
# LAB dictionaries

# challenge 2

#3

list_2 = [i for i in random.sample(range(101),80)]

print(list_2)

[51, 26, 58, 53, 57, 24, 16, 21, 1, 76, 39, 70, 37, 96, 62, 84, 46, 13, 49, 6, 32, 54, 67, 75, 73, 89, 100, 87, 47, 25, 17, 45, 91, 12, 40, 11, 56, 61, 41, 72, 77, 29, 59, 74, 82, 93, 99, 44, 36, 30, 86, 88, 66, 3, 81, 79, 60, 63, 43, 97, 68, 85, 19, 15, 10, 71, 7, 28, 90, 48, 95, 22, 34, 69, 0, 18, 14, 20, 55, 92]

In [ ]:
# LAB dictionaries

# challenge 2

#4

set_2 = set(list_2)

print(set_2)
print(len(list_2))

{0, 1, 3, 6, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 28, 29, 30, 32, 34, 36, 37, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 99, 100}
80

In [ ]:
# LAB dictionaries

# challenge 2

#5

set_3 = set_1 - set_2

print(set_3)

{64, 33, 2, 35, 4, 65, 98, 8, 9, 80, 50, 83, 52, 23, 27, 94}

In [ ]:
# LAB dictionaries

# challenge 2

#6

set_4 = set_2 - set_1

print(set_4)

{34, 66, 39, 71, 41, 74, 75, 44, 13, 60, 77, 79, 81, 92, 86, 28}

In [ ]:
# LAB dictionaries

# challenge 2

#7

set_5 = set_1.intersection(set_2)

print(set_5)

{0, 1, 3, 6, 7, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 29, 30, 32, 36, 37, 40, 43, 45, 46, 47, 48, 49, 51, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 67, 68, 69, 70, 72, 73, 76, 82, 84, 85, 87, 88, 89, 90, 91, 93, 95, 96, 97, 99, 100}

In [ ]:
# LAB dictionaries

# challenge 2

#8 and 9

set_6 = set ()

set_6.update(set_3.union(set_5))

print(set_6)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 32, 33, 35, 36, 37, 40, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 67, 68, 69, 70, 72, 73, 76, 80, 82, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

In [ ]:
# LAB dictionaries

# challenge 2

#10

print(set_1 == set_6)

True

In [ ]:
# LAB dictionaries

# challenge 2

#11

set_sub = set_2.issubset(set_1)
set_sub1 = set_3.issubset(set_1)

print(set_sub)
print(set_sub1)

False
True

In [ ]:
# LAB dictionaries

# challenge 2

#12

comb345 = set_3.union(set_4, set_5)

comb12 = set_1.union(set_2)

print(comb345)
print(comb12)
print(comb345 == comb12)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
True

In [ ]:
# LAB dictionaries

# challenge 2

#13

set_1.pop()

print(set_1)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 32, 33, 35, 36, 37, 40, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 67, 68, 69, 70, 72, 73, 76, 80, 82, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

In [ ]:
# LAB dictionaries

# challenge 2

#14

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_remove = set(list_to_remove)

new_set_1 = set_1 - set_remove

print(new_set_1)

{2, 3, 4, 6, 7, 8, 10, 12, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 30, 32, 33, 35, 36, 37, 40, 43, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 62, 63, 64, 65, 67, 68, 70, 72, 73, 76, 80, 82, 83, 84, 85, 87, 88, 90, 93, 94, 95, 96, 97, 98, 100}

In [ ]:
# LAB dictionaries

# challenge 2

#15

father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

set_father = set(father_list)

for groc in father_list:
  if father_list.count(groc) > 1:
    father_list.remove(groc)
  else:
    continue

print(set_father)

{'garlic', 'flour', 'watermelon', 'cucumber', 'gums', 'onions', 'toilet paper', 'yogurt'}

In [ ]:
# LAB dictionaries

# challenge 2

#15

set_mother = set(mother_list)

for groc in mother_list:
  if mother_list.count(groc) > 1:
    mother_list.remove(groc)
  else:
    continue

print(set_mother)

set()

In [ ]:
# LAB dictionaries

# challenge 2

#15

set_Jo = set(Jo_list)

for groc in Jo_list:
  if Jo_list.count(groc) > 1:
    Jo_list.remove(groc)
  else:
    continue

print(set_Jo)

{'sugar', 'juice', 'garlic', 'watermelon', 'cucumber', 'gums', 'milk', 'tomatoes', 'blueberries', 'onions', 'yogurt'}

In [ ]:
# LAB dictionaries

# challenge 2

#15

set_Carlos = set(Carlos_list)

for groc in Carlos_list:
  if Carlos_list.count(groc) > 1:
    Carlos_list.remove(groc)
  else:
    continue

print(set_Carlos)

{'garlic', 'flour', 'water', 'onions', 'tomatoes', 'blueberries', 'cherries', 'toilet paper'}

In [ ]:
# LAB dictionaries

# challenge 2

#15

set_Mattia = set(Mattia_list)

for groc in Mattia_list:
  if Mattia_list.count(groc) > 1:
    Mattia_list.remove(groc)
  else:
    continue

print(set_Mattia)

set()

In [ ]:
# LAB dictionaries

# challenge 2

#15.2

set_Mattia = set_Carlos.symmetric_difference(set_Jo)

print(set_Mattia)

{'sugar', 'juice', 'flour', 'water', 'watermelon', 'cucumber', 'gums', 'milk', 'cherries', 'toilet paper', 'yogurt'}

In [ ]:
# LAB dictionaries

# challenge 2

#15.3

import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.sample(items,k = 10)

print(mother_list)

['chocolate', 'tomatoes', 'garlic', 'bread', 'cherries', 'onions', 'deodorant', 'oranges', 'vinegar', 'watermelon']

In [ ]:
# LAB dictionaries

# challenge 2

#15.4

all_groc = set_father.union(set_mother, set_Jo, set_Carlos, set_Mattia)

all_groc.discard("toilet paper")

print(all_groc)

{'flour', 'juice', 'cucumber', 'tomatoes', 'cherries', 'sugar', 'garlic', 'water', 'watermelon', 'gums', 'milk', 'onions', 'blueberries', 'yogurt'}

In [ ]:
# LAB dictionaries

# challenge 2

#15.5

all_groc = set_father.union(set_mother, set_Jo, set_Carlos, set_Mattia)

print(all_groc)

{'flour', 'juice', 'cucumber', 'tomatoes', 'cherries', 'toilet paper', 'sugar', 'garlic', 'water', 'watermelon', 'gums', 'milk', 'onions', 'blueberries', 'yogurt'}

In [ ]:
# LAB dictionaries

# challenge 2

#15.6

all_groc.pop()

print(all_groc)

{'gums', 'milk', 'onions', 'blueberries', 'yogurt'}